.Contact_top_div {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
}

.Contact_text_top_div {
  position: absolute;
  color: white;
  top: 10%;
  left: 5%;
}

.section_div {
  font-size: 6rem;
  display: flex;
  line-height: 1.75;
  color: transparent;
  -webkit-text-stroke: 3px #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.quote {
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  text-align: left;
}

.contact_grid_box {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px;
  grid-gap: 40px;
}

.contact_email {
  font-size: 1.25rem;
  border-left: 2px solid white;
  padding-left: 15px;
}
.contact_email div {
  padding-bottom: 5px;
}
.contact_email div:nth-child(1) {
  text-transform: uppercase;
}
.contact_social {
  font-size: 1.25rem;
  border-left: 2px solid white;
  padding-left: 15px;
}
.contact_social div:nth-child(1) {
  text-transform: uppercase;
  padding-bottom: 5px;
}

.contact_social div:nth-child(2) {
  width: max-content;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.contact_social div:nth-child(2):before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.contact_social div:nth-child(2):hover:before {
  width: 100%;
  cursor: pointer;
}

.contact_social div:nth-child(2):hover {
  color: white;
  cursor: pointer;
}
@media (max-width: 479px) {
  .section_div {
    font-size: 3rem;
    display: flex;
    line-height: 1.75;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .quote {
    font-size: 0.8rem;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .contact_grid_box {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-gap: 40px;
  }
}
@media (max-width: 1024px) {
  .Contact_text_top_div {
    position: absolute;
    color: white;
    top: 3%;
    left: 5%;
  }
}
